<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Document</title>
  </head>

  <body>
    <div class="container-md">
      <div class="row">
        <div class="col-md">
          <div id="mapid"></div>
          <p><small><small><small><small></small>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></small></small></small></small></p>
        </div>
      </div>
      <div id="app" class="row">
        <div class="col-md-4">
          <h3><span class="badge bg-secondary">Desastres</span></h3>
          <ul class="list-group list-group-flush" v-for="country in affectedCountriesDisasters">
            <li class="list-group-item"><img src="global-warming.png" class="rounded float-left" alt="Desastre"> {{ country.name }}</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3><span class="badge bg-secondary">Terremotos</span></h3>
          <ul class="list-group list-group-flush" v-for="earthquake in affectedCountriesEarthquakes">
            <li class="list-group-item"><img src="earthquake.png" class="rounded float-left" alt="Terremoto"> {{ earthquake.place }}</li>
          </ul>
        </div>
      </div>
    </div>
  </body>

</html>